/*html, body {*/
/*    width: 100%;*/
/*    margin: 0;*/
/*    font-size: 1rem;*/
/*    font-weight: 400;*/
/*    line-height: 1.5;*/
/*    color: white;*/
/*    text-align: center;*/
/*    background: url('/static/img/back3.jpg');*/
/*    background-size: cover;*/
/*}*/

body {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    text-align: center;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/img/back3.jpg');
}

a {
    color: #ffffff;
}

@media (max-width: 480px) {
    body {
        background-image: url('/static/img/back3.jpg');
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url('/static/img/back3.jpg');
    }
}

@media (min-width: 1025px) {
    body {
        background-image: url('/static/img/back3.jpg');
    }
}