{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
     <section class="section text-center">
        <div class="container">
            <h1 class="section-heading">Download YouTube media</h1>
            <p class="lead text-muted">Download video or audio only!</p>
            <form method="post" action="{% url 'search' %}">
                <div class="col-md-6 ml-auto mr-auto">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <p>
                    <button type="submit" name="submit" value="Search" class="btn btn-outline-primary my-2">YouTube Search
                    </button>
                </p>
            </form>
        </div>
    </section>

    {% if title %}
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto mt-5">
                <h1 class="h3 text-center">{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto mt-5">
                <img class="img-responsive" src="{{ thumb }}">
            </div>

            <div class="col-md-4 ml-auto mr-auto mt-5 pt-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0 pl-2 pr-2 pb-0 text-center" style="background-color: unset;"><p class="lead">Author: {{ author }}</p></li>
                    <li class="list-group-item border-0 pl-2 pr-2 pb-0 text-center" style="background-color: unset;"><p class="lead">Views <i class="fa fa-eye"></i>: {{ views }}</p></li>
                    <li class="list-group-item border-0 pl-2 pr-2 pb-0 text-center" style="background-color: unset;"><p class="lead">Rating: {{ rating|floatformat }}</p></li>
                    <li class="list-group-item border-0 pl-2 pr-2 pb-0 text-center" style="background-color: unset;"><button class="btn btn-outline-primary" data-toggle="collapse" data-target="#description">Description</button></li>
                </ul>
                <div id="description" class="collapse" style="background-color: black">{{ description }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table mt-5">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Resolution</th>
                        <th scope="col">File Size</th>
                        <th scope="col">Extension</th>
                        <th scope="col">Download</th>
                    </tr>
                    </thead>
                    <tbody>
{#                    {% for stream in streams %}#}
                        <tr style="background: #00011e">
                            <td>{{ video_streams.resolution }}</td>
                            <td>{{ video_streams_size|floatformat:2 }}MB</td>
                            <td>{{ video_streams.mime_type }}</td>
                            <td><a download="{{ title }}" href="{{ download}}" target="_blank" content="video">Download <i class=" fa fa-download"></i></a></td>
                        </tr>
{#                    {% endfor %}#}
                    </tbody>
                </table>
                <p class="h3 text-center mt-5 mb-5" style="color: #5a6268; background: #e9ecef">Audio Only</p>
                <table class="table mt-5 mb-5">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">File Size</th>
                        <th scope="col">Extension</th>
                        <th scope="col">Download</th>
                    </tr>
                    </thead>
                    <tbody>
{#                    {% for stream in audio %}#}
                        <tr style="background: #00011e">
                            <td>{{ audio_stream_size|floatformat:2 }}MB</td>
                            <td>{{ audio_stream.mime_type }}</td>
                            <td><a href="{{ download_audio }}" target="_blank" download="{{ title }}">Download <i class=" fa fa-download"></i></a></td>
                        </tr>
{#                    {% endfor %}#}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}