{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">

<main role="main">
    <section class="section text-center">
        <div class="container">
            <h1 class="section-heading">Search YouTube</h1>
            <p class="lead text-muted">Get the top 21 results on YouTube for your query!</p>
            <form method="post" action="{% url 'search' %}">
                <div class="col-md-6 ml-auto mr-auto">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <p>
                    <button type="submit" name="submit" value="Search" class="btn btn-outline-primary my-2">YouTube Search
                    </button>
                </p>
            </form>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for video in videos %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 src="{{ video.thumbnail }}"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"/>
                            <div class="card-body">
                                <p class="card-text" style="color: black">{{ video.title }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" href="{{ video.url }}"
                                           class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <small class="text-muted">{{ video.duration }} mins</small>
                                </div>
                                <p></p>
                                <div class="text-center">
                                    <form method="POST" action="{% url 'download' %}">
                                        {% csrf_token %}
                                    <input class="text-center" type="hidden" name="download" value="{{ video.url }}">
                                        <button class="fa fa-download btn btn-sm btn-outline-secondary" type="submit" ><span class="small"> Download</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}